<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/resources/styles.css}"></link>
</head>
<body>
	<div th:action="@{/index}"class="container mt-5 ">
			<div class="col">
					<h4>SIMULATION SCRUM ICESI UNIVERSITY</h2>
					<br></br>
					<div sec:authorize="hasRole('superAdministrator')">
						<p> <a href="/games/"><i class="fas fa-dice-d20"></i> Game Management</a></p>
						<p><a href="/topics/"><i class="fas fa-drum-steelpan"></i> Topic Management</a></p>
						<p><a href="/stories/"><i class="fab fa-stripe-s"></i> Story Management</a></p>	
				    </div> 
     				 <div sec:authorize="hasRole('administrator')">
					 	<p> <a href="/games/"><i class="fas fa-dice-d20"></i> Game Management</a></p>
					    <p> <a href="/stories/"><i class="fab fa-stripe-s"></i> Story Management</a> </p>
				    </div>
				<a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
			</div>
	</div>
</body>
</html>