<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div th:switch="${tsscTopics}" class="container my-5">
		<div class="row">
			<div class="col-md-10">
				<div th:case="*">
			<center> <h2 class="text-primary">TOPIC MANAGEMENT</h2></center>
					<table class="table">
					 <thead class="thead">
							<tr>
							<center>
							    <th>Name</th>
							    <th>Description</th>
							    <th>Default Groups</th>
								<th>Default Sprints</th>
								<th>Group Prefix</th>
								<th>Update</th>
								<th>Delete</th>
							</tr>
						<tbody>
							<tr th:each="topic : ${tsscTopics}">
							    <td class="text-info" th:text="${topic.name}"></td>
							    <td class="text-info" th:text="${topic.description}"></td>
								<td class="text-info" th:text="${topic.defaultGroups}"></td>
								<td class="text-info" th:text="${topic.defaultSprints}"></td>
								<td class="text-info" th:text="${topic.groupPrefix}"></td>
								<td><a th:href="@{/topics/edit/{id}(id=${topic.id})}"
									class="btn btn-primary">Update   <i class="far fa-edit"></i></a></td>
								<td><a th:href="@{/topics/del/{id}(id=${topic.id})}"
									class="btn btn-danger">Delete   <i class="fas fa-trash"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<h2 th:case="null">Empty</h2>
				<p class="my-5">
					<a href="/topics/add" class="btn btn-outline-primary">ADD NEW TOPIC <i class="fas fa-drum-steelpan"></i></a>
				</p>

			</div>
		</div>
		<a href="/" class="btn btn-outline-primary">Back  <i class="fas fa-chevron-circle-left"></i></a>
	</div>
</body>
</html>